.available-devices {
    padding: 5.6vw;
    min-height: 100vh;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;

        &-item {
            text-align: center;

            h4 {
                margin-top: 20px;
                margin-bottom: 24px;
            }

            img {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 767px) {
    .available-devices {
        margin-bottom: 330px;
        
        &-list {
            grid-template-columns: 1fr 1fr;
        }
    }
}