@use "variables";

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variables.$corDeFundo;
    transition: background-color 0.5s ease;
    z-index: 1;

    &-is-hidden {
        background-color: transparent;
        transition: background-color 0.5s ease;

        .header {
            &-logo,
            &-links-item:first-child {
                opacity: 0;
                transition: opacity 0.5s ease;
            }
        }

        .main-button-secondary {
            cursor: default;
        }
    }

    &-container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
    }

    &-logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity 0.5s ease;
    }

    &-links {
        display: flex;

        &-item {
            margin: 5px;
            transition: opacity 0.5s ease;

            .main-button {
                height: 50px;
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        &-container {
            padding: 0px 12px 0px 20px;
        }

        &-logo {
            max-width: 64px;
        }

        &-links {
            &-item {
                .main-button {
                    font-size: 13px;
                    padding: 8px 11px;
                    height: 40px;
                    letter-spacing: 0;
                }
            }
        }
    }
}