.header {
    &-container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
    }

    &-logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
    }

    &-links {
        display: flex;

        &-item {
            margin: 5px;

            .main-button {
                height: 50px;
            }
        }
    }

}