.plans {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    &-list {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;

        &-item {
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;

            .main-button {
                margin-top: 2vw;
                margin-bottom: 8px;
            }

            &:nth-child(2) {
                background-image: url(../../dist/images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;
            }

            img {
                height: 83px;
            }

            strong {
                display: block;
                margin-top: 24px;
            }
        }
    }

    p {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .plans {
        &-list {
            display: block;
            margin-top: -30px;

            &-item {

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        p {
            margin: 15px 0px;
        }
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    .plans {
        &-list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .plans {
        &-list {
            margin-top: -30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}