@use "variables";

.shows {
    padding: 2vw 5.6vw;
    min-height: 100vh;

    &-list {
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        margin-top: 44px;
        list-style: none;

        &-is-active {
            display: grid;
        }

        &-item {
            img {
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }

    &-tabs {
        display: flex;
        justify-content: center;

        &-button {
            color: variables.$corTextoSecundario;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            margin: 0px 1vw;
            cursor: pointer;

            &-is-active {
                border-bottom: 5px solid variables.$corTextoSecundario;
            }
        }
    }
}